<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
            <img src="./assets/images/annada.jpeg" alt="logo" class="logo" />

            <ul class="main-menu">

                <li>
                    <a href="login" class="nav-link" style="font-weight: 600"> লগইন
                    </a>
                      <a href="register" class="nav-link" style="font-weight: 600"> রেজিস্টার 

                    </a>
                </li>
            </ul>
        </nav>
        <header class="showcase" style="background-image: url(./assets/images/bg-8.jpg);">
            <a href="http://www.nctb.gov.bd/site/page/85da3a9e-fd7f-4b2f-be74-f8e6637ae785/-" target="_blank"
                class="btn">
                জাতীয় শিক্ষাক্রম ও পাঠ্যপুস্তক বোর্ড (এনসিটিবি)<i class="fas fa-chevron-right"></i>
            </a>
        </header>

        <div class="contain">
            <div class="row">
                <div class="row-title">
                    <h1 class="row-title"> স্কুল রেকর্ড
                    </h1>
                </div>
            </div>

        </div>
    </div>
</body>

</html>