
<!-- views/login.hbs -->


<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/login.css">
     <style>
    body {
      background-image: url('http://localhost:4000/assets/images/background-image2.jpg');
      background-size: contain; 
      background-repeat: no-repeat; 
      margin: 0; 
      display: flex;
     
    }
  </style>
  

</head>

<body >
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-sm-6 offset-md-3">
                <div class="card p-4 mt-5">
                    <h2>রেজিস্টার</h2>
                    <form >
                         <div class="form-group">
                            <label for="schoolname">স্কুলের নাম</label>
                            <input type="text" class="form-control" id="schoolname" name="schoolname" required />
                        </div>
                        <div class="form-group">
                            <label for="email">ইমেইল</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">পাসওয়ার্ড</label>
                            <input type="password" class="form-control" id="password" name="password" required />
                        </div>
                        <button type="submit" class="btn btn-primary">রেজিস্টার</button>
                
                    </form>
                   
                </div>

            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./script/register.js"> </script>

</body>

</html>